<%= form_with(model: @twitter, local: true, url: choose_new_or_edit) do |form| %>
  <% if @twitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @twitter.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @twitter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="twitter_title">
    <%= form.label :本文： %>
    <%= form.text_field :content, class: 'content_name' %>
  </div>
  <div class="twitter_submit"><%= form.submit %></div>
<% end %>

<!-- <%= link_to "ツイート一覧画面にもどる", twitters_path %> -->
