<h1 id="title">ツイート一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th class="index_top">つぶやき一覧</th>
  </tr>

<% @twitters.each do |twitter| %>

  <tr>
    <div class="content_view">
      <td><%= twitter.content %></td>
    </div>
    <div class="edit">
      <td class="edit_btn"><%= link_to "編集", edit_twitter_path(twitter.id), data: { confirm: '本当に編集していいですか？' }, class: 'edit_name' %></td>
      <td class="delete_btn"><%= link_to '削除', twitter_path(twitter.id), data: { confirm: '本当に削除していいですか？' }, method: :delete, class: 'delete_name' %></td>
    </div>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくツイッターを投稿する', new_twitter_path %>
