<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="header">
      <nav>
        <div class="top_menu clearfix">
          <a href="https://frozen-fjord-10956.herokuapp.com/twitters/surface">HOME</a>
          <a href="https://frozen-fjord-10956.herokuapp.com/twitters/">つぶやき一覧</a>
          <a href="https://frozen-fjord-10956.herokuapp.com/twitters/new">新規投稿</a>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>  Dive into Code test application </p>
    </footer>
  </body>
</html>
